#FileSearchModal{
  position: fixed; /* Stay in place */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 50;
}
#FileSearchModal > div{
  overflow: auto;
  margin-top: 200px;
  margin-left: 20vw;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  width: 60vw;
  z-index: 51;
  
}

#fileSearchList {
	border: 1px solid #ddd;
    height: 400px;
    overflow: auto;
}

.modelBtnList {
	margin-bottom: 12px;
}

.modelBtnList .closeBtn {
	float: right;
}

.filedate {
	background-color: #f2e0fb;
}

.file-thead {
	font-weight: 700;
	background-color: #eee;
}

.file-tr {
	display: grid;
	grid-template-columns: 350px 120px 200px 200px 150px;
	border-bottom: 1px solid gray;
	padding: 15px 0;
	text-align: center;
}


.files-list .file-tr:hover {
	background-color: #f2f1f3;
}