/*히스토리, 유저정보, 검색 모달창 검은 배경*/
#modHistory,
#UserModiMod,
#joinOutMod,
#modSearchWKDB,
#editPageMod {
  position: fixed; /* Stay in place */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 50;
}
/*히스토리, 검색 모달창 안에 흰 div*/
#modHistory > div,
#modSearchWKDB > div,
#editPageMod > div {
  overflow: auto;
  margin-top: 200px;
  margin-left: 20vw;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  width: 60vw;
  z-index: 51;
}
/*히스토리, 검색 모달창 안에 흰 div*/
#UserModiMod > div {
  overflow: auto;
  margin-top: 200px;
  margin-left: 30vw;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  width: 680px;
  z-index: 51;
}
#joinOutMod > div {
  overflow: auto;
  margin-top: 200px;
  margin-left: 40vw;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  width: 400px;
  z-index: 51;
  text-align: center;
}
.historyList {
  width: 90%; 
  height: 400px; 
  overflow: auto;
  margin: 0 auto;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-right: none;
  padding: 10px;
}

.history--header {
  display: flex;
  justify-content: space-between;
}

.history_control_menu {
  display: flex;
  margin-top: 10px;
}

.history_control_menu div:first-child {
  margin-right: 10px;
}

.history_control_menu div:last-child {
  margin-left: 10px;
}
.history_control_menu div > button:first-child {
  margin-right: 10px;
}

.history_data_line {
  position: relative;
  height: 30px;
  display: flex;
  align-items: center;
}

.history_data_line div {
  width: 100%;
}

.history_data_line h3 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
}

.historyItem {
  display: grid;
  grid-template-columns: 3fr 8fr;
  padding:10px;
}

.histroy_item--left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.history_item--right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.histroy_item--left p {
  margin: 0;
}

.history_item--right p {
  margin: 10px 0;
}
.inline-div{
  display: inline-block;
}
/* 여기서 부터는 userModInfo */

#auth {
  margin-left: 126px;
}
.closeBtnWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

#userModForm {
  display: flex;
  padding: 20px;
}

.authBtn {
  width: 75px !important;
}

.userModForm_left {
  display: flex;
  flex-direction: column;
}

.userModForm_left img {
  border-radius: 50%;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  object-fit: cover;
  background-size: cover;
  aspect-ratio: 1/1;
}

.userModForm_right {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.userModForm_right label {
  display: inline-block;
  width: 120px;
  text-align: end;
}

.profile_btn_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile_btn_wrapper button:first-child {
  margin-right: 5px;
}

.revokeBtn{
	display:flex;
	padding: 5px 20px;
    border-radius: 20px;
    margin-right: 30px;
    background-color: transparent;
    color: #d4b5e5;
    font-weight: bold;
    border: 2px solid #d4b5e5;
}