.modal-contents {
	background-color: #fefefe;
	margin: 10% auto;
	padding: 20px;
	border: 3px solid #888;
	border-radius: 10px;
	width: 800px;
	height: 400px;
	text-align: center;
	z-index: 100;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

#workModal {
	position: fixed;
	z-index: 100;
	left: 0;
	top: 0;
	width: 100%;
	height: 500px;
}

#workbackhide {
	position: fixed;
	z-index: 90;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
}

#btnArea {
	display: flex;
	justify-content: center;
	margin-top: 10px;
	position: absolute;
	top: 380px;
}

#btnArea button:first-child {
	margin-right: 40px;
}

.modal-contents input:not([type="checkbox"]), .modal-contents select {
	font-size: 14px;
	width: 414px;
}

.modal-content-header {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 12px;
}

#inviteUser {
	display: flex;
	flex-direction: column;
}

#invList {
	width: 390px;
	height: 60px;
	border: 0.3px solid #e0d5fd;
	overflow: auto;
	position: relative;
	left: 20px;
	top: -10px;
}

#outmemList {
	overflow: auto;
	position: relative;
}

#beforeJoin, #memList, #outmemList {
	border: 0.7px solid #f2e6fd;
	border-collapse: collapse;
	width: 600px;
}

#outmemList td:first-child {
	width: 490px;
}

#beforeJoin td, #memList td, #outmemList td {
	background-color: #fcfdfe;
	border: 0.7px solid #f2e6fd;
	border-collapse: collapse;
	text-align: center;
}

#ownArea {
	margin-top: 20px;
}

#teamToggleArea {
	position: relative;
	left: -300px;
}

.btnClicked {
	background-color: #e9defe;
	border: 0.3px solid #e0d5fd;
}

#memList>tr>td:nth-child(2) {
	width: 476px;
	text-align: center;
}

#memList>tr>td:first-child {
	display: none;
}

#msg {
	position: absolute;
	top: 350px;
	left: 240px;
}

.workCloseBtn {
	background-color: transparent;
	border: none;
	font-size: large;
}

.workCloseBtn:hover {
	background-color: #e4e4e4;
	cursor: pointer;
	border: none;
	font-size: large;
}

#memberOut:hover {
	background-color: #e4e4e4;
}

#memberOut {
	background-color: transparent;
	border: 0;
	font-size: 16px;
	margin-bottom: 5px;
}

#memberAuth {
	width: 70px;
}

#memberArea {
	width: 620px;
}

#beforeJoin>tr>td:first-child {
	width: 476px;
}
#beforeJoin>tr>td:last-child{
	color: #4682B4;
	font-size: 12px;
}

#memberCheckArea {
	overflow: auto;
	width: 620px;
	height: 220px;
}
