<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prodoc.block.mapper.BlockMapper">
	<select id="selectAllBlock" resultType="BlockVO">
		SELECT *
		FROM TBL_DISPLAY
		WHERE PAGE_ID = #{pageId}
		order by parent_id DESC,row_x ASC
	</select>
	
	<select id="selectBlock" resultType="BlockVO">
		select *
		from tbl_display
		where display_id = #{displayId}
	</select>

	<insert id="insertBlock" parameterType="BlockVO">
		insert into tbl_display
		(display_id,page_id,row_x,block_id,cre_user,content,parent_id,cre_date)
		values
		(#{displayId},#{pageId},#{rowX},#{blockId},#{creUser},#{content},#{parentId},sysdate)
	</insert>
	<update id="updateBlock" parameterType="BlockVO">
		update tbl_display
		set
		<choose>
		<when test="upUser != null">
		up_user = #{upUser}		
		</when>
		<otherwise>
		up_user = up_user
		</otherwise>
		</choose>
		,up_date = sysdate
		,parent_id = #{parentId}
		<if test="content != null">
			,content = #{content}
		</if>
		<if test="blockId != null">
			,block_id = #{blockId}
		</if>
		<if test="rowX != 0">
			,row_x = #{rowX}
		</if>
		<if test="colY != 0">
			,col_y = #{colY}
		</if>
		<if test="checked != null">
			,checked = #{checked}
		</if>
		<if test="color != null">
			,color = #{color}
		</if>
		<if test="backColor != null">
			,back_color = #{backColor}
		</if>
		where display_id = #{displayId}
	</update>
	<delete id="deleteBlock" parameterType="BlockVO">
		delete from tbl_display
		where display_id = #{displayId}
	</delete>
	
	<select id="getBookMark" resultType="BookMarkVO">
		select display_id,title,description,img_adrs,url
		from tbl_book_mark 
		where display_id = #{displayId}
	</select>
	<insert id="createBookMark" parameterType="BookMarkVO">
		insert into TBL_BOOK_MARK (display_id)
		values (#{displayId})
	</insert>
	<update id="updateBookMark" parameterType="BookMarkVO">
		update TBL_BOOK_MARK
		set TITLE = #{title}
			,DESCRIPTION = #{description}
			,IMG_ADRS = #{imgAdrs}
			,url = #{url}
		where display_Id = #{displayId}
	</update>
	
	<delete id="deleteBookMark" parameterType="String">
		delete from TBL_BOOK_MARK
		where display_id = #{displayId}
	</delete>
	
	<select id="getFile" parameterType="String" resultType="FileVO">
		select * 
		from tbl_file 
		where display_id = #{displayId}
	</select>
	<insert id="insertFile" parameterType="FileVO">
		insert into tbl_file (display_id)
		values(#{displayId})
	</insert>
	<delete id="deleteFileBlock">
		delete from tbl_file
		where display_id = #{displayId}
	</delete>
	
	<update id="updateFileBlock" parameterType="FileVO">
		update tbl_file
		   set save_date  = sysdate
		   	  ,up_name    = #{upName}
		   	  ,new_name   = #{newName}
		   	  ,path       = #{path}
		 where display_id = #{displayId}
	</update>
	<update id="updateParentBlock" parameterType="BlockVO">
		update (select * from tbl_display where parent_id = #{displayId})
            set parent_id = null
	</update>
	
	<delete id="deleteBlockCheck" parameterType="BlockVO" statementType="CALLABLE">
		{call delete_block_check(
							#{pageId},
							#{creUser}
		)}
	</delete>
</mapper>