<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prodoc.db.mapper.DBMapper">
	<!-- DBCase 페이지 추가 -->
	<insert id="insertDBCase" parameterType="DBCaseVO" statementType="CALLABLE">
		{call INSERT_DB(
						#{wordId}
						, #{email}
						, #{prentPage}
						, #{displayId}
						, #{result}
		)}
	</insert>
	
	<!-- DB속성 페이지 추가 -->
	<insert id="insertDBPage" parameterType="DBdataVO" statementType="CALLABLE">
		{call INSERT_DB_PAGE(
							#{parentBlockId}
							, #{displayId}
							, #{email}
							, #{state}
							, #{result, mode=OUT, jdbcType=VARCHAR, javaType=String}
		)}
	</insert>
	
	<!-- DB 하위 페이지 삭제 -->
	<update id="deleteDBPage" parameterType="BlockVO">
		{ call DB_PAGE_DELETE_PROCESS (
						#{pageId}
						, #{creUser}
						, #{workId}
		)}
	</update>

	<!-- DBCase페이지로 하위 페이지(블럭) 리스트 조회 -->	
	<select id="getDBPageList" resultType="BlockVO" parameterType="String">
		SELECT *
		FROM tbl_display
		WHERE page_id = (SELECT page_id
		                FROM tbl_dbblock
		                WHERE display_id = #{dbBlockID})
		ORDER BY row_x
	</select>
	
	<!-- displayId로 DB 페이지 조회 -->
	<select id="getDBPageInfo" resultType="PageVO" parameterType="String">
		SELECT *
		FROM tbl_page
		WHERE page_id = ( SELECT page_id
                          FROM tbl_dbblock
                          WHERE display_id = #{displayId})
	</select>
  
	<update id="updateCase" parameterType="PageVO">
		UPDATE tbl_page
		SET case_id = #{caseId}
		WHERE page_id = #{pageId}
	</update>
	
	<select id="getDBblock" parameterType="DBBlockVO" resultType="DBBlockVO">
		SELECT page_id, display_id
		FROM tbl_dbblock
		WHERE
		<if test="displayId != '' and displayId != null ">
			display_id = #{displayId}
		</if>
		<if test="pageId != '' and pageId != null ">
			page_id = #{pageId}
		</if>
	</select>
	
	<select id="getPageInfo" parameterType="String" resultType="PageVO">
		SELECT *
		FROM tbl_page
		WHERE page_id = #{pageId}
	</select>

	<select id="getWorkMembers" resultType="UserVO" parameterType="String">
		SELECT u.email, u.nickname
		FROM tbl_user u JOIN tbl_member m ON u.email = m.email
		        JOIN tbl_page p ON p.work_id = m.work_id
		WHERE p.page_id = #{pageId}
	</select>

</mapper>