<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prodoc.db.mapper.DBMapper">

	<insert id="insertDBCase" parameterType="DBCaseVO" statementType="CALLABLE">
		{call insert_db(
						#{wordId}
						, #{email}
						, #{prentPage}
						, #{displayId}
						, #{result}
		)}
	</insert>
	
	<select id="getDBPageList" resultType="DBPageVO" parameterType="String">
		SELECT dp.display_id, pg.page_id
		FROM tbl_display dp JOIN tbl_page pg
					        ON dp.page_id = pg.parent_id
		WHERE pg.parent_id = #{casePage};
	</select>
</mapper>