<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prodoc.history.mapper.HistoryMapper">
<select id="selectList" resultType="HistoryVO">
	SELECT * FROM tbl_history 
	WHERE work_id IN (SELECT work_id FROM tbl_member WHERE email = #{logUser})
		<if test="startDate != null and endDate == null">AND TRUNC(UP_DATE, 'dd') BETWEEN #{startDate} AND #{startDate}</if>
		<if test="startDate != null and endDate != null">AND TRUNC(UP_DATE, 'dd') BETWEEN #{startDate} AND #{endDate}</if>
       	
       	<if test="select != 'all'">	AND  HISTORY_TYPE = UPPER(#{select}) </if>
	ORDER BY up_date desc
</select>

<insert id="blockHistory" parameterType="BlockVO" statementType="CALLABLE">
	{call history_block(#{workId}
						, #{creUser}
						, #{pageId}
						, #{displayId})
						}
</insert>
	

<!-- 페이지(생성/삭제)/워크(생성/수정/삭제) -->
<insert id="insertHistory" parameterType="HistoryVO">
	INSERT INTO TBL_HISTORY(
	   history_id, history_type, work_id, cre_user, up_date
	   <if test="pageId != '' and pageId != null"> , page_id </if>
	)VALUES(history_seq.nextval, #{historyType}, #{workId}, #{creUser}, sysdate
	   <if test="pageId != '' and pageId != null"> , #{pageId} </if>
	 )
</insert>

<!-- 삭제 페이지 복구: 페이지 아이디, 로그인유저, 워크 id-->
<insert id="revokePage" parameterType="RevokeVO" statementType="CALLABLE">
	{call PAGE_REVOKE_PROCESS(#{pageId}, #{logUser}, #{workId},
		#{msg, mode=OUT, jdbcType=VARCHAR, javaType=string}
	)}
</insert>

<!-- 삭제 워크 복구: 로그인유저, 워크 아이디, 반환 메시지 -->
<insert id="revokeWork" parameterType="RevokeVO" statementType="CALLABLE">
	{call  WORK_REVOKE_PROCESS (
    	#{logUser},     
    	#{workId},      
    	#{msg, mode=OUT, jdbcType=VARCHAR, javaType=string}     
		)}
</insert>
</mapper>