<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prodoc.member.mapper.MemberMapper">

 	<!-- 멤버 권한 변경 -->
 	<update id="renewAUTH" parameterType="MemberVO">
 		UPDATE tbl_member
 		SET auth = #{auth}
 		WHERE work_id = #{workId}
 		AND email = #{email}
 	</update>
 	
 	<!-- 멤버 내보내기(삭제) -->
 	<delete id="removeMember" parameterType="MemberVO">
 		DELETE FROM tbl_member
 		WHERE work_id = #{workId}
 		AND EMAIL = #{email}
 	</delete>
 	
 	<!-- 멤버 조회 -->
 	<!-- auth 넣은 이유는 워크스페이스 권한 설정시 목록에서 owner를 제외하기 위해서.-->
 	<select id="listMember" parameterType="MemberVO" resultType="MemberVO">
 		SELECT	work_id
				, email
				, auth
		FROM TBL_MEMBER
		WHERE work_id = #{workId}
		AND auth != 'OWNER'
 	</select>
 	
 	<!-- 탈퇴: 내 소유팀 워크스페이스 개수 -->
 	<select id="myAuth" resultType="Integer">
 		SELECT count(*) FROM TBL_MEMBER
		WHERE email = #{email} AND auth = 'OWNER'
		AND work_id IN (SELECT work_id
 						FROM TBL_WORKSPACE
 						WHERE WORK_TYPE = 'TEAM')
 	</select>
 	
</mapper>