<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.prodoc.notify.mapper.NotifyMapper">
  
  	<insert id="insertTargetNotify" parameterType="NotifyVO">
  		{call insert_notify(
  							#{displayId}
  						,	#{noteType}
  						,	#{creUser}
  						,	#{pageId}
  						,	#{replyId}
  						)
  		}
  	</insert>
  	<!-- 댓글, 멘션(, 페이지 잠금) 목록 -->
  	<select id="selectNotify" resultType="NotifyResultVO">
  		select * 
		from view_notify
		where note_type=#{type};
  	</select>
  	<!-- 초대 목록 -->
  </mapper>