<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace ="com.prodoc.page.mapper.PageMapper">
  	<select id = "pageList" resultType="PageVO">
  		select page_id,page_name,work_id
		from tbl_page
		where work_id IN (
		                select work_id
		                from tbl_workspace
		                where work_name = #{workName}
		                )
  	</select>
  	
  	<insert id="insertPage" parameterType="PageVO" statementType="CALLABLE">
 		{call insert_page(
 						#{outPid, mode=OUT, jdbcType=VARCHAR, javaType=string}
 					,	#{parentId}
 					,	#{pageName}
 					,	#{creUser}
 					,	#{workId}
 					,	#{caseId}
 					,	#{insertResult, mode=OUT, jdbcType=VARCHAR, javaType=string}
 						)
 		}
 	</insert>
  
  	<select id ="selectPageInfo" resultType="PageVO">
  		SELECT *
  		FROM tbl_page
  		WHERE page_id = #{pageId}
  	</select>
  	<!-- 등록 -->
  	<!-- <insert id="insertPage" parameterType="PageVO" statementType ="CALLABLE">
  		{call INSERT_PAGE(
  							#{pid, mode=OUT, jdbcType=VARCHER, javaType=string}
  						,	#{parentId}
  						,	#{pageName}
  						,	#{creUser}
  						,	#{workId}
  						,	#{caseId}
  						,	#{result, mode=OUT, jdbcType=VARCHER, javaType=string}
  		)}
 	</insert> -->
 	
 	<!-- 페이지 잠금(관리자, 소유자) -->
 	<update id="LockPage" parameterType="PageVO">
 		UPDATE tbl_page
		SET lock_check = #{lockCheck}
		WHERE page_id = #{pageId}
 	</update>
 	
 	<!-- 페이지 삭제(체크) -->	
 	<update id="RemoveCheckPage" parameterType="String">
 		UPDATE tbl_page
 		SET delete_check = 'TRUE'
 		WHERE page_id = #{pageId}
 	</update>
 	
 	<!-- 페이지 알림 끄기 -->
 	<insert id="onOffPage" parameterType="PageVO" statementType="CALLABLE">
 		{call PAGENOTI_TOGGLE(
 								#{workId}
 								, #{pageId}
 								, #{email}
 								, #{result, mode=OUT, jdbcType=INTEGER, javaType=int}
 							)}
 	</insert>
 	
  </mapper>
  
  