<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.prodoc.workspace.mapper.WorkSpaceMapper">
 	<select id="selectWorkNo" resultType="String">
 		SELECT work_id
 		FROM tbl_workspace
 	</select>
 	
 	<insert id="registerWorkspace" parameterType="WorkSpaceVO" statementType="CALLABLE">
 		{call workspace_register(
 								#{workType}
 								, #{workName}
 								, #{publicCheck}
 								, #{email}
 								, #{result, mode=OUT, jdbcType=VARCHAR, javaType=string}
 								)}
 	
 	</insert>
 	
 	<update id="modifyWorkspace" parameterType="WorkSpaceVO">
 		UPDATE TBL_WORKSPACE
 			<set>
 				<if test="workName != null and !workName.equals('')">
 					work_name = #{workName},
 				</if>
 				<if test="publicCheck != null and !publicCheck.equals('')">
 					public_check = #{publicCheck},
 				</if>
 			</set>
 		WHERE work_id = #{workId}
 	</update>
 	
 	<update id="renewOWNER" parameterType="WorkSpaceVO">
 		UPDATE TBL_MEMBER
 		SET AUTH = 'OWNER'
 		, EMAIL = #{email}
 		WHERE WORK_ID = #{workId}
 		AND EMAIL = #{email}
 			
 	</update>
 	
 </mapper>