#alarmModal {
  position: fixed;
  z-index: 150;
  top: 82px;
  left: -80px;
  margin: 0 400px;
  border: 1px solid lightgrey;
  border-radius : 7px;
  width: 400px;
  height: 500px;
  overflow: scroll;
  overflow-x: hidden;
  background-color:#ffffff;
}
#alarmMenu ul {
  width: 100%;
  display: flex;
  list-style: none;
  padding: 0;
  display: flex;
}
.whoTagMe{
	color : rgb(110,110,110)
}
#alarmMenu li {
  text-align: center;
  display: inline-block;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
  background-color: lavender;
  border-radius: 8px;
  text-align: center;
  padding-top :7px;
  height: 30px;
}
#alarmMenu li:hover {
	cursor: pointer;	
}
#allCheckBox{
	display: inline-block;
	margin-left : 10px;
	position: relative;
	top : 1px;
}
#alarmFunc{
  width : 100%;
  height : 30px;
  display: inline-block;
  margin-bottom : 10px;
}
#alarmFunc p {
  font-size : 13px;
  display: inline;
  border-radius: 8px;
  text-align: center;
  height:10px;
  background-color: lavender;
  padding : 4px;
  padding-bottom : 9px;
   padding-left: 27px;
  padding-right: 27px;
}
#alarmFunc div{
  font-size : 13px;
  display: inline;
  border-radius: 8px;
  text-align: center;
  height:10px;
  background-color: lavender;
  padding : 2px;
  padding-bottom : 12px;
  padding-left: 16px;
  padding-right: 16px;
}

.alarm_header{
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 5px;
}
#allCheckBox{
	position: relative;
	top : 2.5px;
	margin-left:7px;
}

.alarm_header div{
  display: flex;
  align-items: center;
}
.alarm_header input[type="button"]{
  width: 50px;
}
.alarm_header input[type="button"]:first-child{
  margin-right: 10px;
}

.alarms{
  background-color: rgb(228,244,254);
  height: 100px;
  padding: 5px 0;
  margin-bottom: 5px;
  padding-left:10px ;
  display: inline-block;
}

#alarmFunc{
  display: flex;
  justify-content: space-around ;
  align-items: center;
}
