#alarmModal {
  position: fixed;
  z-index: 150;
  top: 82px;
  left: -80px;
  margin: 0 400px;
  border: 1px solid black;
  width: 400px;
  height: 500px;
  overflow: scroll;
  overflow-x: hidden;
  background-color:#ffffff;
}
#alarmMenu ul {
  width: 100%;
  display: flex;
  list-style: none;
  padding: 0;
  display: flex;
}
.whoTagMe{
	color : rgb(110,110,110)
}
#alarmMenu li {
  text-align: center;
  display: inline-block;
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 25px;
  border: 1px solid black;
}
#alarmFunc {
  font-size: 10px;
  margin-bottom: 10px;
}
#alarmFunc p {
  margin-left: 30px;
  margin-right: 30px;
  border: 1px solid black;
  display: inline;
}

.alarm_header{
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 5px;
}

.alarm_header div{
  display: flex;
  align-items: center;
}
.alarm_header input[type="button"]{
  width: 50px;
}
.alarm_header input[type="button"]:first-child{
  margin-right: 10px;
}

.alarms{
  background-color: #ccc;
  height: 100px;
  padding: 5px 0;
  margin-bottom: 5px;
  padding-left:10px ;
}

#alarmFunc{
  display: flex;
  justify-content: space-around ;
  align-items: center;
}

