.hide {
  display: none !important;
}

.view {
  display: block;
}
.closeBtn{
  background-color: transparent;
  border: none;
  font-size: large ;
}
.closeBtn:hover{
  background-color: #e4e4e4;
  cursor: pointer;
  border: none;
  font-size: large ;
}
body {
  margin: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
}

#TitleName {
  /*페이지명*/
  margin: 0 0 0 50px;
  padding: 0;
}

.app {
  background-color: var(--page-bg-color);
  width: calc(100vw - 300px);
  margin: 0px;
  margin-top: 70px;
  margin-left: 300px;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}
.btn {
  width: 90px;
  height: 28px;
  padding: 5px 0;
  border: none;
  border-radius: 4px;
}

.btn-md {
  width: 150px;
  height: 30px;
  border: none;
  border-radius: 7px;
}
.btn-xl {
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 11px;
}

.btn-login {
  border-radius: 100000px;
  border: 1px solid #ccc;
}

.attrDate-con:hover,
.caldel-btn:hover,
.btn-login:hover,
.btn:hover,
.btn-md:hover,
.btn-xl:hover {
  background-color: #e4e4e4;
  cursor: pointer;
}

.btn-login:active,
.btn:active,
.btn-md:active,
.btn-xl:active {
  background-color: #cfcfcf;
  cursor: pointer;
}

.btn-option {
  background-color: #d4bee6;
}

.btn-warning {
  background-color: #f8f8f8;
  border: 2.5px solid #fd5f16;
  font-weight: bold;
  color: #fd5f16;
}

/* 인풋창 */

.input_text {
  margin-bottom: 10px;
  border-radius: 3px;
  border: none;
  padding: 0 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
}

.input_text-md {
  height: 25px;
  border: none;
  border-radius: 5px;
  padding: 0 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  font-size: 17px;
}

.input_text-xl {
  height: 40px;
  border: none;
  border-radius: 7px;
  padding: 0 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  font-size: 27px;
}

.input-login {
  width: 80%;
  border: 3px solid;
  padding: 0 14px;
  border-radius: 10000px;
  border: 1px solid #ccc;
  font-size: 20px;
}

.input-date {
  background-color: #f8f8f8;
}
