.hide {
  display: none;
}

.view {
  display: block;
}

body {
  margin: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
}

#TitleName{ /*페이지명*/
	margin: 0 0 0 50px; padding: 0;
}

.app {
  background-color: var(--page-bg-color);
  width: calc(100vw - 300px);
  margin: 0px;
  margin-top: 70px;
  margin-left: 300px;
  box-sizing: border-box;
}

.input_text-xl {
  width: 80%;
  height: 50px;
  margin-bottom: 10px;
  border-radius: 25px;
  border: 3px solid ;
  border-color: var(--input-border-color);
  padding: 0 20px;
  box-sizing: border-box;
}

.input_text-md {
  width: 80%;
  height: 30px;
  margin-bottom: 10px;
  border-radius: 15px;
  border: 3px solid ;
  border-color: var(--input-border-color);
  padding: 0 20px;
  box-sizing: border-box;
}
.input_btn {
  width: 100px;
  padding: 0px 10px;
}
