.display-flex{
	display: flex;
}

.db-block{
    border: 1px solid gainsboro;
}

.db-layout-list{
	display: inline;
}

.db-layout-list li{
    display: inline;
    list-style-type: none;
}

.db-search-option{
	display: inline;
	float: inline-end;
}

.inlineTags{
	display: inline;
}

.attr {
	
}

.attr-list {
	display: inline;
	float: inline-end;
}

div[data-block-id]{
	border: 1px solid gray;
	margin: 10px;
}

div[data-tagimg]{
	display: inline;
	border: 1px solid green;
}

div[data-pagename]{
	display: inline;
}

div[data-dbtype="list"]{
	width : 90%;
}

div[data-dbtype="brd"]{
	margin: auto;
}

div[data-dbtype="gal"]{
	width : 40%;
	margin: auto;
	display: inline-block;
}

div[data-state]{
	width: 20%;
	margin: 10px;
	border: 1px solid salmon;
	display: inline-block;
	min-height: 150px;
}

div[data-state-tags]{
	width: 20%;
	margin: 10px;
	text-align: center;
	background-color: beige;
	display: inline-block;
}

div[data-page-attr]{
	font-size: small;
	background-color: linen;
}

div[data-gal-img]{
	height: 80px;
	width: 100px;
}